{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<div id="header">
    {% csrf_token %}
    <span class="logo"><a href="{% url 'account:dashboard' %}">Life Helper</a></span>
    <span class="logo"><a href="{% url 'account:test_redir' %}">test_redir</a></span>
    {% if request.user.is_authenticated %}
    <ul class="menu">
        <li {% if section == "profile" %}class="selected"{% endif %}>
            <a href="{% url 'account:profile'%}">My profile</a>
        </li>
        <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url 'account:dashboard'%}">Dashboard</a>
        </li>
        <li {% if section == "weather" %}class="selected"{% endif %}>
            {% if request.user.profile.city %}
                <a href="{% url 'weather_api:weather' city_name=request.user.profile.city %}">Weather</a>
            {% else %}
                <a href="{% url 'weather_api:weather' city_name='Moscow' %}">Weather</a>
            {% endif %}
        </li>
        <li {% if section == "expense_list" %}class="selected"{% endif %}>
            <a href="{% url 'money_tracker:expense_list' %}">My Expenses</a>
        </li>
        <li {% if section == "expense_chart" %}class="selected"{% endif %}>
            <a href="{% url 'money_tracker:expense_chart' %}">Expense Chart</a>
        </li>


    </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }},
        <a href="{% url 'account:logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'account:login' %}">Log-in</a>
      {% endif %}
    </span>
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
        {{ message|safe }}
        <a href="#" class="close">x</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
