{% extends 'base.html' %}
{% load static %}
{% load friend_tags %}

{% block content %}
<h1>Все пользователи</h1>
<table>
    <tr>
        {% for user in users %}
            <td style="padding: 20px;">
                <div style="text-align: center;">
                    {% if user.profile.photo %}
                        <img class="avatar_friend" src="{{ user.profile.photo.url }}" alt="Avatar" style="margin-bottom: 10px;">
                    {% else %}
                        <img class="avatar_friend" src="{% static 'img/default_profile.jpg' %}" alt="Default Profile Photo" style="margin-bottom: 10px;">
                    {% endif %}
                    <p style="margin-bottom: 5px;">{{ user.username }}</p>
                    {% if not friend_status|get_item:user.id %}
                        <form action="{% url 'account:add_friend' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="friend_id" value="{{ user.profile.id }}">
                            <input type="hidden" name="next" value="{% url 'account:all_users' %}">

                            <button type="submit" class="btn_add_friend">Добавить в друзья?</button>
                        </form>
                    {% else %}
                        <form action="{% url 'account:remove_friend' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="friend_id" value="{{ user.profile.id }}">
                            <button type="submit" class="btn_remove_friend">Удалить из друзей</button>
                        </form>
                    {% endif %}
                </div>
            </td>
            {% if forloop.counter|divisibleby:10 and not forloop.last %}
                </tr><tr>
            {% endif %}
        {% endfor %}
    </tr>
</table>
{% endblock %}
