{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h2>Expense Chart</h2>
  <p id="total-expenses">Total Expenses: {{ total_sum|default_if_none:"0" }}₽</p>
  <h6>Вы можете кликать по "категориям" и они не будут учитываться на графике</h6>
  <div style="width: 500px; height: 500px;">
    <canvas id="expenseChart" width="300" height="300"></canvas>
  </div>

  <!-- Подключаем библиотеку Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

  <!-- JavaScript код для создания графика -->
  <script src="{% static 'js/expense_chart.js' %}"></script>

{% endblock %}
